<div class="container">

  <h1>Weekly Planner</h1>
  <br>
  <p></p>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Time / Date</th>
        <th>Monday - Thursday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7:00 AM (<%= @schedule_events_7.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_7.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>8:30 AM (<%= @schedule_events_8.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_8.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
      </tr>
      <tr>
        <td>10:10 AM (<%= @schedule_events_10.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_10.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
      </tr>
      <tr>
        <td>11:30 AM (<%= @schedule_events_11.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_11.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
      </tr>
      <tr>
        <td>1:00 PM (<%= @schedule_events_13.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_13.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
      </tr>
      <tr>
        <td>2:30 PM (<%= @schedule_events_14.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_14.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
        <tr>
        <td>3:40 PM (<%= @schedule_events_15.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_15.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>5:10 PM (<%= @schedule_events_17.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_17.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
      </tr>
      <tr>
        <td>6:30 PM (<%= @schedule_events_18.count %>)</td>
        <td>
          <ul class="schedule">
            <% @schedule_events_18.each do |se| %>
              <li><%= se.room.name %> - <%= se.teacher.name %> - <%= truncate(se.course.name, :length => 100) %></li>
            <% end %>
          </ul>
        </td>      
      </tr>
    </tbody>
  </table>

  <br>
  <h2>Detailed View</h2>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>ID/Section</th>
        <th>Teacher</th>
        <th>Course</th>
        <th>Room</th>
        <th>Start time</th>
        <th>Student Forecast</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @schedule_events.each do |schedule_event| %>
        <tr>
          <td><%= schedule_event.teacher.id %></td>
          <td><%= schedule_event.teacher.name %></td>
          <td><%= schedule_event.course.name %></td>
          <td><%= schedule_event.room.name %></td>
          <td><%= schedule_event.time_order %></td>
          <td><%= schedule_event.course.students.count %></td>
          <td><%= link_to 'Destroy', schedule_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h2>Student Satisfaction</h2>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Student Satisfaction Index</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.student_satisfaction.sat %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
