<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', :autofocus => true %>
    </div>
    <div class="form-group">
      <p>Courses:</p>
      <ul style="list-style-type: none;">
        <% @courses.each do |c| %>
          <li>
            <%= check_box_tag c.name, c.id, nil, {:name => "#{f.object_name}[course_ids][]"} %>
            <%= label_tag c.id, c.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="form_inline">
      <div class="form_group">
      <p>Availability:</p>
        <%= f.label :start_time %>
        <%= f.time_field :start_time, class: 'form-control' %>
      </div>
      <div class="form_group">
        <%= f.label :end_time %>
        <%= f.time_field :end_time, class: 'form-control'%>
      </div>
    </div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
  
<% end %>
